<!-- <div class="row">
  <div class="col-md-10">
    <h5>Orders</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order Type</th>
          <th scope="col">Symbol</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Last Price</th>
          <th scope="col">Profit/Loss</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let position of position$ | async">
          <td>{{ position.orderType }}</td>
          <td>{{ position.symbol }}</td>
          <td>{{ position.quantity }}</td>
          <td>{{ position.entryPrice }}</td>
          <td>{{ position.lastPrice }}</td>
          <td>{{ position.profitloss }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
